<h1>Login page</h1>
<div class="row">
    <%= form_for(:session, url: login_path,:class => "col s12" ) do |f| %>
 <div class="row">
   <div class="input-field col s4">
      <%= f.label :email %>
      <%= f.email_field :email,class:"validate" %>
      </div>
 <div class="input-field col s4">
      <%= f.label :password %>
      <%= f.password_field :password,class:"validate" %>
  </div>
     <%= f.check_box :remember_me, id: "indeterminate-checkbox" %>
       <%= f.label :remember_me, "Remember me?", for:"indeterminate-checkbox" %>

      <%= f.submit "Log in", class:"btn btn-primary" %>
    </div>
    <% end %>

</div>
