 <ul class="collection with-header">
    <li class="collection-header"><h4>Products</h4></li>
       <% @products.each do |product| %>
       <li class="collection-item avatar">
     <% if !product.picture.file.nil? %>
       <%= image_tag product.picture.url, class:"circle" %>
     <% end %>
     <span class="title"> <%= link_to product.title,product %></span>
     <p><%= product.price %> € <br>
     </p>
   </li>
       <% end %>
   </ul>

<%= link_to "Browse by Category", categories_url %>
<!--
<table class="table table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Category</th>
      <th>Seller</th>
      <th>Description</th>
      <th>Price</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td> <% if !product.picture.file.nil? %>
           <%= image_tag product.picture.thumb.url %>
         <% end %> <%= link_to product.title,product %></td>
        <td><%=link_to product.category.name, product.category %></td>
        <td><%= link_to product.user.username, product.user %></td>
        <td><%= product.description %></td>
        <td><%= product.price %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br> -->
<% if current_user %>
<%= link_to 'New Product', new_product_path %>
<% end %>
