
<h1>Products</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Seller</th>
      <th>Description</th>
      <th>Price</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td> <% if !product.picture.file.nil? %>
           <%= image_tag product.picture.thumb.url %>
         <% end %> <%= link_to product.title,product %></td>
        <td><%= product.user.username %></td>
        <td><%= product.description %></td>
        <td><%= product.price %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user %>
<%= link_to 'New Product', new_product_path %>
<% end %>
